.box-sizing {
    box-sizing: border-box;
    width: 1280px;
    height: 1626px;
}

.font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu a {   
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 78px;  
}

.menu-list {
    height: 78px;
    margin-left: 242px;
}

.menu-item  {
    color: #FF0000;
    align-items: center;
    text-decoration: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    list-style-type: none;
    height: 78px;
    display: inline-block;
    width: calc(25% - 90px);
    padding: 28px 30px 0px 0px;
    text-align: center;  
}

.menu-item:last-child {
    padding-right:  0;          
}

.menu-item:hover {
    text-shadow: 1px 1px 2px black;
}

.img {
    width: 1280px;
}

.title {
    display: inline-block;
    width: 1280x;
    height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 3.3px;
    padding: 48px 0px 0px 520px;
}

.subtitle {
    font: normal normal 16px;
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    text-indent: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 28px 67.5px 0px 67.5px;
}

.button-border {
    height: 50px;
    width: 1150px;
    padding: 66px 0px 0px 545px;  
}

.button {
    background-color: #FF0000;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font: normal 12px/12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    text-shadow: 1px 1px 2px black;
}

.button1 {
    font-size: 12px;
    height: 51px;
    width: 191px;
    border: 0px solid #FF0000;
    border-radius: 4px;
}

.footer {
    font: normal 16px/20px;
    font-weight: bold;
    color: #373737; 
    letter-spacing: 2.4px;
    padding: 49px 0px 0px 713px;     
}